:root {
    --black: #424242;
    --white: #FAFAFA;
    --gray: #757575;
    --light-blue: #18FFFF;
    --light-cyan: #80DEEA; 
    --green: #00ACC1;
    --yellow: #FFFA00;
    --gold: #FDD835;
    --red: #C62828;
    --clear: #00000000;
}

#Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    font-family: "Yu Gothic", "IPAex Gothic";
    font-size: 24px;
    color: var(--black);
}

#FilterLevel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#LevelTitle {
    margin: 5%;
}

#LevelBtnCont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
}

#LevelDesc {
    margin: 5%;
    font-size: 20px;
}

.level_btn_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin: 0px 10px;
}

.level_btn-s {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5%;
    color: var(--white);
    background: var(--gray);
    transition-duration: 0.1s;
}

.level_btn-s:hover {
    width: 45px;
    height: 45px;
    color: var(--black);
    background: var(--light-cyan);
}

.level_btn-s:active {
    width: 40px;
    height: 40px;
    color: var(--black);
    background: var(--green);
}

.btn-s--gold {
    color: var(--yellow);
    background: var(--gray);
}

.btn-s--gold:hover {
    color: var(--red);
    background: var(--yellow);
}

.btn-s--gold:active {
    color: var(--red);
    background: var(--gold);
}

.level_btn-c {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 5%;
    color: var(--black);
    background: var(--light-blue);
    filter: drop-shadow(2.5px 2.5px 2.5px var(--gray));
}

.btn-c--gold {
    color: var(--black);
    background: var(--yellow);
}

.level_btn--dummy {
    display: flex;
    width: 40px;
    height: 40px;
    color: var(--clear);
    background: var(--clear);
}

.cate_btn {
    width: 210px;
    height: 40px;
    margin: 1px;
    border: none;
}

.cate_btn:hover {
    transition-duration: 0.25s;
}

.cate_btn--off {
    color: var(--white);
    background: var(--gray);
}

.cate_btn--off:hover {
    width: 220px;
    color: var(--black);
    background: var(--light-blue);
    filter: drop-shadow(5px 5px 5px var(--gray));
}

.cate_btn--on {
    color: var(--black);
    background: var(--light-cyan);
}

.cate_btn--on:hover {
    color: var(--black);
    background: var(--green);
}
